/* --------------------------- GENERAL SETTINGS -------------------------- */

body {
  font-size: 20px;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/* ------------------------------- HEADER --------------------------------- */

.navbar {
  flex-wrap: nowrap;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.img-fluid {
  width: 5em;
  border-radius: 30%;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: burlywood;
}

/* -------------------------------- MAIN ----------------------------------- */

.first {
  display: flex;
  padding-top: 1em;
  background-image: url(/IMAGES/fond\ 2.jpg);
  background-repeat: round;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 655px) {
  .first {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1000px) {
  .first {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
h2 {
  width: 100%;
  padding-bottom: 1em;
  text-align: center;
  color: burlywood;
  font-weight: bold;
}

.card {
  width: 18rem;
  margin: 1em;
  background-color: lightgray;
}

.card-img-top {
  height: 20rem;
}

.second {
  margin: 1em;
  padding: 1em;
  text-align: justify;
}

/* ------------------------------------- FOOTER ------------------------------- */

.footer {
  display: flex;
  padding-bottom: 1em;
  justify-content: space-around;
}

h4 {
  width: 100%;
  padding-bottom: 0em;
  padding-top: 1em;
  text-align: center;
  color: burlywood;
  font-weight: bold;
}
